# =========================
# ENV FILES (VERY IMPORTANT)
# =========================
.env
.env.*
!.env.example

# =========================
# NODE / REACT
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
frontend/node_modules/

# React build
frontend/build/
build/

# =========================
# PYTHON / FLASK
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
venv/
env/
backend/__pycache__/

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# EDITOR CONFIG
# =========================
.vscode/
.idea/
