Flask
flask-cors
Werkzeug
gunicorn
requests
python-dotenv

PyPDF2
python-docx
reportlab

huggingface_hub
transformers
accelerate
torch

librosa
soundfile
numba
llvmlite
pydub

mediapipe==0.10.14
opencv-contrib-python
numpy<2.0

supabase